body 
    {color: blue;
    text-align:center;}
#mundo1
    {font-size: 12px;font-family: serif;text-transform: uppercase}
#mundo2
    {font-size: 12px;font-family: serif;text-transform: uppercase}
#europa1
    {font-size: 12px;font-family: sans-serif;font-style: italic}
#europa2
    {font-size: 12px;font-family: sans-serif;font-style: italic}
#españa1
    {font-size: 20px;font-family: 'Times New Roman', Times, serif;font-weight: bold;text-transform: uppercase;}
#españa2
    {font-size: 12px;font-family: serif;text-transform: uppercase}